* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

#searchBar {
    text-align: start;
    padding: 20px;
}

#todaysForecast {
    text-align: center;
    border: 3px solid black;
    padding: 50px;
}