* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    text-align: center;
}

span {
    display: inline-block;
    width: 500px;
    vertical-align: top;
}

.searcher {
    margin: 10px;
}

.searchBtn {
    background-color: blue;
    border-radius: 25px;
    display: block;
    width: 40%;
    padding: 4px;
    margin-top: 6px;
}

#searchCity {
    border-radius: 25px;
    padding: 4px;
}

#searchBar {
    text-align: start;
    padding: 20px;
}

#todaysForecast {
    text-align: start;
    border: 3px solid black;
    /* padding: 50px; */
}